@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Work+Sans&display=swap');

h1, 
h2,
h3 {
    font-family: 'Crimson Text', serif; 
} 

h1 {
    font-size: 2.5rem;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #101112;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#flash-section {
    overflow-x: hidden;
}

.flashes {
    line-height: 3;
    background-color: #ff6a3d;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.orange-btn {
    background-color: #ff6a3d;
}

.orange-btn:hover {
    background-color: #f34d1b;
}

.navy-btn {
    background-color: #1a2238;
    font-size: 0.9rem;
    margin-bottom: .5rem;
}

/* -----------------NAVBAR----------------- */
.nav-style {
    background-color: #1a2238;
    color: #f8f8fb;
}

.site-name {
    margin-top: 0.5rem;
}

.offcanvas {
    background-color: #1a2238;
}

.offcanvas-close-btn {
    font-size: 1.5rem;
}

.dropdown-menu {
    background-color: #1a2238;
    color:#f8f8fb;
  }

.dropdown-menu li a {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff6a3d;
}

.dropdown-menu .dropdown-item:hover {
    color: #ff6a3d;
}
/* -----------------FOOTER----------------- */
.footer-style {
    background-color: #1a2238;
    color: #f8f8fb;
    padding-top: 1rem;

    margin-top: auto;
}

.social-links {
    font-size: 1.5rem;
    color: #f8f8fb;
}

.social-links:hover {
    color: #ff6a3d;
}

/* -----------------FORMS----------------- */

.card {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

form {
    font-size: 1.3rem;
}

.icon-style {
    color: #ff6a3d;
}


/* -----------------REGISTER----------------- */

.register-container {
    background: linear-gradient(#0000005c, #00000070), url("../images/hero-image-hot-air-balloon.jpg") no-repeat top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media screen and (min-height: 700px) {
    .register-container {
        height: 85vh;
    }
    
}

@media screen and (min-height: 1300px) {
    .register-container {
        height: 90vh;
    }
    
}

.register-card {
    background-color: rgba(255, 255, 255, 0.85);
}

.redirect-link {
    color: #ff6a3d;
}

.redirect-link:hover {
    color: #1a2238;
}
/* -----------------LOG IN----------------- */
.login-container {
    background: linear-gradient(#0000005c, #00000070), url("../images/hero-image-hot-air-balloon.jpg") no-repeat top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.login-card {
    background-color: rgba(255, 255, 255, 0.85);
}

@media screen and (min-height: 700px) {
    .login-container {
        height: 85vh;
    }
    
}

@media screen and (min-height: 1300px) {
    .login-container {
        height: 90vh;
    }
    
}

/* -----------------PROFILE----------------- */
.profile-containers {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@media screen and (max-width: 370px) {
    .orange-btn {
        margin-bottom: .5rem;
    }
    .delete-btn {
        margin-top: .5rem;
    }
    
}


/* -----------------HOME----------------- */

.home-image-container {
    background: linear-gradient(#0000005c, #00000070), url("../images/hero-image-hot-air-balloon.jpg") no-repeat top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.jumbotron {
    /* background-color: rgba(26, 34, 56, 0.9); */
    color: #f8f8fb;
    margin-top: 50%;
    border-radius: 6px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-jumbotron {
    font-size: 3rem;
    text-shadow: 2px 2px #1a2238;;
}

.subheading {
    color: #ff6a3d;
    text-shadow: 1px 1px #1a2238;
    padding-top: 2rem;
}

.four-steps {
    margin: 2rem auto;
}

.four-steps-header {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.four-steps-img {
    height: 9rem;
}

/* ----------------- EXPERIENCES CARD ----------------- */
.experiences-container {
    overflow-x: hidden;
}

/* 
See README Contribution section for more details
Contribution Link: https://stackoverflow.com/questions/17642447/change-bootstrap-tooltip-color 
*/
.tooltip-inner {
    background-color: #1a2238;
    color: #f8f8fb;
}

.tooltip.top .tooltip-arrow {
    border-top: 5px solid #1a2238;
  }  

/*
End of contribution
*/

.experience-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.icon-button-style {
    color: #ff6a3d;
    font-size: 2rem;
}

.icon-button-style:hover {
    color: #1a2238;
    font-size: 2rem;
}

.exp-image  {
    height: 13rem;
    object-fit: cover;
}

.exp-title {
    height: 2.5rem;
}

.bucket-list-form {
    display: inline;
}

/* ----------------- EXPERIENCE INFO CARD ----------------- */

.exp-info-image  {
    height: 20rem;
    object-fit: cover;
}

.exp-dropup {
    display: inline;
}

.dropup > button {
    color: #ff6a3d;
    font-size: 1.5rem;
}

.dropdown > button:hover {
    color: #1a2238;
}

.dropup > .dropdown-menu {
    background-color: #ff6a3d;
}

.dropup > .dropdown-menu > li > a:hover{
    color: #1a2238;
}

/* ----------------- CATEGORIES ----------------- */
.categories-container {
    overflow-x: hidden;
}

.categories-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* ----------------- EXPERIENCES ----------------- */
.navy-btn {
    margin-top: 2rem;
    background-color: #1a2238;
    color: #f8f8fb;
}

.navy-btn:hover {
    background-color: #2a385c;
    color: #e6e6eb;
}

.dropdown-menu .dropdown-item {
    color: #f8f8fb;
}

.dropdown-item:hover {
    background-color: #2a385c;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}

.pagination-page-info-b {
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ff6a3d;
    border-color: #ff6a3d;
}

.page-link {
    color: #ff6a3d;
}

.page-link:hover {
    color: #ff6a3d;
}

/* ----------------- ERROR PAGE ----------------- */
.error-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a385c;
}

.error-img {
    margin-bottom: 16px;
}

.error-site-name {
    font-size: 3rem;
    color: #f8f8fb;
    display: inline;
}

.error-name {
    color: #f8f8fb;
}