@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Work+Sans&display=swap');

h1, 
h2,
h3 {
    font-family: 'Crimson Text', serif; 
} 

body {
    font-family: 'Work Sans', sans-serif;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#flash-section {
    overflow-x: hidden;
}

.flashes {
    line-height: 3;
    background-color: #ff6a3d;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/* -----------------NAVBAR----------------- */
.nav-style {
    background-color: #1a2238;
    color: #f8f8fb;
}

.site-name {
    margin-top: 0.5rem;
}

.offcanvas {
    background-color: #1a2238;
}

.offcanvas-close-btn {
    font-size: 1.5rem;
}

.dropdown-menu {
    background-color: #1a2238;
    color:#f8f8fb;
  }

.dropdown-menu li a {
    color: white;
}

/* -----------------FOOTER----------------- */
.footer-style {
    background-color: #1a2238;
    color: #f8f8fb;
    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-top: auto;
}

.social-links {
    font-size: 1.5rem;
}

/* -----------------FORMS----------------- */

.card {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

form {
    font-size: 1.3rem;
}
.register-btn {
    background-color: #ff6a3d;
}

.icon-style {
    color: #ff6a3d;
}


/* -----------------REGISTER----------------- */

.register-container {
    background: url(../images/hero-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-height: 700px) {
    .register-container {
        height: 85vh;
    }
    
}

@media screen and (min-height: 1300px) {
    .register-container {
        height: 90vh;
    }
    
}

/* -----------------LOG IN----------------- */

.login-container {
    background: url(../images/hero-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-height: 700px) {
    .login-container {
        height: 85vh;
    }
    
}

@media screen and (min-height: 1300px) {
    .login-container {
        height: 90vh;
    }
    
}