{% extends 'base.html' %}
{% block content %}
 <div class="container categories-container">
    <h1 class="text-center categories-header">Manage Categories</h1>
    <div class="row">
        <div class="col text-center">
            <a href="{{ url_for('categories.add_category')}}" class="btn btn-large orange-btn">Add Category <i class="fas fa-plus-circle"></i></a>
        </div>
    </div>
    <div class="row">
        {% for category in categories %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title exp-title text-center">{{ category.category_name }}</h3>
                        <div class="row buttons-bottom">
                            <div class="col">
                                <a href="{{ url_for('categories.delete_cat', cat_id=category._id) }}" class="btn btn-large orange-btn">Delete <i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}