{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">


    <div class="row">
        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Profile</h1>
                    <div class="container profile-containers">
                        <h3><i class="fas fa-user icon-style"></i></h3>
                        <h3><strong>Username:</strong></h3>
                        <h3><em>{{ username }}</em></h3>
                    </div>
                    <div class="container profile-containers">
                        <h3><i class="fas fa-envelope icon-style"></i></h3>
                        <h3><strong>Email:</strong></h3>
                        <h3><em>{{ email }}</em></h3>
                    </div>
                    <div class="container profile-containers">
                        <h3><i class="fas fa-plus-circle icon-style"></i></h3>
                        <h3><strong>Experiences Created</strong></h3>
                        <h3><em>{{ experiences|length }}</em></h3>
                    </div>
                    <a class="btn btn-lg edit-btn" href="{{ url_for('user.change_password', username=username) }}" role="button">Edit Profile</a>
                    <a class="btn btn-lg orange-btn" data-bs-toggle="modal"
                      data-bs-target='#deleteUserModal'>Delete Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="deleteUserModalLabel">Delete</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete your profile?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-large orange-btn" data-bs-dismiss="modal">Close</button>
      <a type="button" href="{{ url_for('user.delete_profile') }}"
        class="btn btn-large orange-btn">Delete</a>
    </div>
  </div>
</div>
</div>
<div class="bucket-list-container container"> 
    <h1 class="text-center subheading"><strong>Bucket List</strong></h1>
    <div class="row">
        {% for experience in bucket_list %}
            <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card experience-card text-center">
                        <img src=" {{ experience.img_address }}" class="card-img-top exp-image" alt="Image of experience">
                        <div class="card-body">
                            <h3 class="card-title exp-title text-center">{{ experience.experience_name }}</h3>
                            <span class="badge navy-btn">{{ experience.category_name }}</span>
                            <p class="">Added by: {{ experience.added_by }}</p>
                            <div class="row buttons-bottom">
                                <div class="col">
                                    <div class="col">
                                        <a href="#" type="button" class="btn btn-large" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Bucket List">
                                            <img class="bucket-button-style" src="/static/images/ms3-bucket-icon.ico" alt="Orange bucket icon">
                                        </a>
                                        <a class="btn btn-large exp-button" href="{{ url_for('experience.exp_info', exp_id=experience._id) }}" 
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="See Information">
                                            <i class="fas fa-info-circle icon-style"></i>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                
            </div>
        {% endfor %}
    </div>
</div>
<div class="experiences-created-container container"> 
    <h1 class="text-center subheading"><strong>Experiences Created</strong></h1>
    <div class="row">
        {% for experience in experiences %}
            <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card experience-card text-center">
                        <img src=" {{ experience.img_address }}" class="card-img-top exp-image" alt="Image of experience">
                        <div class="card-body">
                            <h3 class="card-title exp-title text-center">{{ experience.experience_name }}</h3>
                            <span class="badge navy-btn">{{ experience.category_name }}</span>
                            <p class="">Added by: {{ experience.added_by }}</p>
                            <div class="row buttons-bottom">
                                <div class="col">
                                    <div class="col">
                                        <a href="#" type="button" class="btn btn-large" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Bucket List">
                                            <img class="bucket-button-style" src="/static/images/ms3-bucket-icon.ico" alt="Orange bucket icon">
                                        </a>
                                        <a class="btn btn-large exp-button" href="{{ url_for('experience.exp_info', exp_id=experience._id) }}" 
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="See Information">
                                            <i class="fas fa-info-circle icon-style"></i>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}