{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">


    <div class="row">
        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Profile</h1>
                    <div class="container profile-containers">
                        <h3><i class="fas fa-user icon-style"></i></h3>
                        <h3><strong>Username:</strong></h3>
                        <h3><em>{{ username }}</em></h3>
                    </div>
                    <div class="container profile-containers">
                        <h3><i class="fas fa-envelope icon-style"></i></h3>
                        <h3><strong>Email:</strong></h3>
                        <h3><em>{{ email }}</em></h3>
                    </div>
                    <div class="container profile-containers">
                        <h3><i class="fas fa-plus-circle icon-style"></i></h3>
                        <h3><strong>Experiences Created</strong></h3>
                        <h3><em>{{ experiences|length }}</em></h3>
                    </div>
                    <a class="btn btn-lg orange-btn" href="{{ url_for('user.change_password', username=username) }}"
                        role="button">Edit Profile</a>
                    <a class="btn btn-lg orange-btn" data-bs-toggle="modal" data-bs-target='#deleteUserModal'>Delete
                        Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your profile?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-large orange-btn" data-bs-dismiss="modal">Close</button>
                <a type="button" href="{{ url_for('user.delete_profile') }}" class="btn btn-large orange-btn">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="bucket-list-container container">
    <h1 class="text-center subheading"><strong>Bucket List</strong></h1>
    <div class="row">
        {% if bucket_lists|length == 0 %}
        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
            <div class="card">
                <div class="card-body text-center">
                    <p>Oops! Looks like there are no experiences saved to your Bucket List. You can browse all
                        experiences on the site by clicking the button below</p>
                    <a href="{{ url_for('experience.get_exp')}}" class="btn btn-large orange-btn"><i
                            class="fas fa-search"></i> Browse Experiences</a>
                </div>
            </div>
        </div>
        {% else %}
        {% for bucket_list in bucket_lists %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card experience-card text-center">
                <img src=" {{ bucket_list.img_address }}" class="card-img-top exp-image" alt="Image of experience">
                <div class="card-body">
                    <h3 class="card-title exp-title text-center">{{ bucket_list.experience_name }}</h3>
                    <span class="badge navy-btn">{{ bucket_list.category_name }}</span>
                    <p class="">Added by: {{ bucket_list.added_by }}</p>
                    <div class="row buttons-bottom">
                        <div class="col">
                            <span class="" data-bs-toggle="modal" data-bs-target='#removeExpModal{{ bucket_list._id }}'>
                                <a class="btn btn-large" data-bs-toggle="tooltip" title="Remove from Bucket List"
                                    data-bs-placement="top"><i class="fas fa-minus-circle icon-button-style"></i></a>
                            </span>
                            <a class="btn btn-large" href="{{ url_for('experience.exp_info', exp_id=bucket_list._id) }}"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="See Information">
                                <i class="fas fa-info-circle icon-button-style"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- REMOVE EXPERIENCE MODAL -->
        <div class="modal fade" id="removeExpModal{{ bucket_list._id }}" tabindex="-1"
            aria-labelledby="removeExpModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeExpModalLabel">Remove Experience</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to remove this experience from your Bucket List?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-large orange-btn" data-bs-dismiss="modal">Close</button>
                        <form method="POST" class='bucket-list-form'
                            action="{{ url_for('experience.remove_bucket_list', exp_id=bucket_list._id) }}">
                            <button type="submit" class="btn btn-large orange-btn">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
</section>
<div class="experiences-created-container container">
    <h1 class="text-center subheading"><strong>Experiences Created</strong></h1>
    <div class="row">
        {% if experiences|length == 0 %}
        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
            <div class="card">
                <div class="card-body text-center">
                    <p>Looks like you have not created any experiences. You can create an experience by clicking the
                        button below</p>
                    <a href="{{ url_for('experience.create_exp') }}" class="btn btn-large orange-btn"><i
                            class="fas fa-edit"></i> Create Experiences</a>
                </div>
            </div>
        </div>
        {% else %}
        {% for experience in experiences %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card experience-card text-center">
                <img src=" {{ experience.img_address }}" class="card-img-top exp-image" alt="Image of experience">
                <div class="card-body">
                    <h3 class="card-title exp-title text-center">{{ experience.experience_name }}</h3>
                    <span class="badge navy-btn">{{ experience.category_name }}</span>
                    <p class="">Added by: {{ experience.added_by }}</p>
                    <div class="row buttons-bottom">
                        <div class="col">
                            {% if user_bucket_list %}
                            {% if experience._id in user_bucket_list %}
                            <span class="" data-bs-toggle="modal" data-bs-target='#removeExpModal{{experience._id}}'>
                                <a class="btn btn-large" data-bs-toggle="tooltip" title="Remove from Bucket List"
                                    data-bs-placement="top"><i class="fas fa-minus-circle icon-button-style"></i></a>
                            </span>
                            <!-- REMOVE EXPERIENCE MODAL -->
                            <div class="modal fade" id="removeExpModal{{experience._id}}" tabindex="-1"
                                aria-labelledby="removeExpModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="removeExpModalLabel">Remove Experience</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to remove this experience from your Bucket
                                                List?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-large orange-btn"
                                                data-bs-dismiss="modal">Close</button>
                                            <form method="POST" class='bucket-list-form'
                                                action="{{ url_for('experience.remove_bucket_list', exp_id=experience._id) }}">
                                                <button type="submit" class="btn btn-large orange-btn">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <form method="POST" class='bucket-list-form'
                                action="{{ url_for('experience.add_bucket_list', exp_id=experience._id) }}">
                                <button type="submit" class="btn btn-large" data-bs-toggle="tooltip"
                                    title="Add to Bucket List" data-bs-placement="top">
                                    <i class="fas fa-plus-circle icon-button-style"></i>
                                </button>
                            </form>
                            {% endif %}
                            {% else %}
                            <form method="POST" class='bucket-list-form'
                                action="{{ url_for('experience.add_bucket_list', exp_id=experience._id) }}">
                                <button type="submit" class="btn btn-large" data-bs-toggle="tooltip"
                                    title="Add to Bucket List" data-bs-placement="top">
                                    <i class="fas fa-plus-circle icon-button-style"></i>
                                </button>
                            </form>
                            {% endif %}
                            <a class="btn btn-large icon-button-style"
                                href="{{ url_for('experience.exp_info', exp_id=experience._id) }}"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="See Information">
                                <i class="fas fa-info-circle icon-button-style"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}