{% extends 'base.html' %}
{% block content %}
    

<div class="register-container container-fluid">
    

    <div class="row">
        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
            <div class="card register-card">
                <div class="card-body">
                    <h1 class="text-center">Register</h1>
                    <form method="POST" action="{{ url_for('user.register') }}">
                        <div class="mb-3">
                            <i class="fas fa-user icon-style"></i>
                            <label for="username" class="form-label">Username</label>
                            <input type="username" name="username" class="form-control" id="username" 
                            pattern="^[a-zA-Z0-9]{5,20}$" minlength="5" maxlength="20"
                            title="Username must have 5-20 characters, and cannot contain special characters" required>
                        </div>
                        <div class="mb-3">
                            <i class="fas fa-envelope icon-style"></i>
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" id="email"
                                aria-describedby="emailHelp" required>
                        </div>
                        <!-- Password pattern from w3 Schools. See contribution in ReadMe -->
                        <div class="mb-3">
                            <i class="fas fa-lock icon-style"></i>
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}"
                            title="Must contain at least one number, one uppercase and lowercase 
                            letter, and 8-15 characters" required>
                        </div>
                        <div class="mb-3">
                            <p>Already have an account?
                                <span><a class="redirect-link" href="{{ url_for('user.log_in') }}">Log In</a></span>
                            </p>
                        </div>
                        <button type="submit" class="btn btn-lg orange-btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}