{% extends 'base.html' %}
{% block content %}
    

<div class="register-container container-fluid">
    

    <div class="row">
        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Register</h1>
                    <form method="POST" action="{{ url_for('auth.register') }}">
                        <div class="mb-3">
                            <i class="fas fa-user icon-style"></i>
                            <label for="username" class="form-label">Username</label>
                            <input type="username" name="username" class="form-control" id="username" required>
                        </div>
                        <div class="mb-3">
                            <i class="fas fa-envelope icon-style"></i>
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" id="email"
                                aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <i class="fas fa-lock icon-style"></i>
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" required>
                        </div>
                        <div class="mb-3">
                            <p>Already have an account?
                                <span><a href="#">Log In</a></span>
                            </p>
                        </div>
                        <button type="submit" class="btn btn-lg register-btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}