{% extends "base.html" %}
{% block content %}

    <div class="search-container container">

        <h1 class="text-center">Experiences</h1>

        <div class="row">
            <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('experience.search') }}">
                            <!-- Search input -->
                            <div class="mb-3 input-group-lg">
                                <label for="query" class="form-label"><i class="fas fa-search icon-style"></i></label>
                                <input type="text" placeholder="Search Experiences" name="query" class="form-control" id="query"
                                    minlength="5" maxlength="30" title="Must have 5-30 characters" required>
                            </div>
                            <!-- Buttons -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg orange-btn">Search</button>
                                <button type="submit" class="btn btn-lg orange-btn">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}