{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">


    <div class="row">
        <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Update Password</h1>
                    <form method="POST" action="{{ url_for('user.update_password', username=username) }}">
                        <div class="mb-3">
                            <i class="fas fa-lock icon-style"></i>
                            <label for="existing-password" class="form-label">Enter your existing password</label>
                            <input type="password" name="existing-password" class="form-control" id="existing-password">
                        </div>
                        <!-- Password pattern from w3 Schools. See contribution in ReadMe -->
                        <div class="mb-3">
                            <i class="fas fa-lock icon-style"></i>
                            <label for="updated_password" class="form-label">Enter your new password</label>
                            <input type="password" name="updated_password" class="form-control" id="updated_password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}"
                            title="Must contain at least one number, one uppercase and lowercase 
                            letter, and at least 8 or more characters" required>
                        </div>
                        <button type="submit" class="btn btn-lg register-btn">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}